# Database (Chung với FANG / miCareer-lite)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/micareer_lite_db

# Keys cho các Model Tier
GOOGLE_API_KEY=
OPENAI_API_KEY=
CLAUDE_API_KEY=

# App config
LOG_LEVEL=INFO
